<div id="<%= dom_id client %>">
  <tr>
    <th scope="row" class="opacity-75"><%= client.id %></th>
    <td class="text-start"><%= client.name %></td>
    <td class="opacity-75"><%= client.age %></td>
    <td class="text-start"><%= client.movies.last %></td>
    <td class=""><%= link_to "Show this client", client, class: "text-decoration-none btn btn-outline-warning btn-sm" %></td>
    <td ><%= link_to "Edit this client", edit_client_path(client), class: "text-decoration-none btn btn-outline-warning btn-sm" %></td>
  </tr>
</div>
